BASE_URL=base_url_here
DATABASE_URL=postgres_url_here
DIRECT_URL=direct_url_here_if_using_supabase
JWT_SECRET=super_secret_key_here
STRIPE_PUBLISHABLE_KEY=stripe_publishable_key_here
STRIPE_SECRET_KEY=stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret_here
NGROK_AUTH_TOKEN=ngrok_auth_token_here
ADMIN_EMAIL="your.email@example.com"
ADMIN_PASSWORD="YourSecureP@ssw0rd"